body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.6;
  font-family: "OnePlusOne2015-Light", sans-serif;
  background-color: #efeff2; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, background-image 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    border: 0; }

input, textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

textarea {
  resize: none; }

button:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.pull-right {
  float: right; }

.wrapper {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 146px;
  width: 1405px;
  margin: 0 auto;
  background: #ffffff; }

header {
  position: fixed;
  z-index: 99;
  width: 100%; }
  header .top {
    height: 50px;
    background: #000000; }
    header .top a, header .top .item {
      color: #ffffff;
      text-transform: uppercase;
      font-family: "OnePlusOne2015-Heavy", sans-serif;
      font-size: 16px;
      padding-bottom: 1px;
      border-bottom: none;
      line-height: 30px;
      cursor: pointer; }
      header .top a.logo, header .top .item.logo {
        margin: 10px 46px 0 60px;
        background: url("../img/1+1_logo.svg") 0 0 no-repeat;
        width: 91px;
        height: 30px;
        display: inline-block;
        vertical-align: middle; }
      header .top a.active, header .top a:hover, header .top .item.active, header .top .item:hover {
        color: #ff0030; }
    header .top nav {
      display: inline-block;
      vertical-align: bottom; }
      header .top nav a {
        margin-right: 38px;
        letter-spacing: 0.8px; }
    header .top .item {
      display: inline-block;
      margin-left: 36px;
      letter-spacing: 0px; }
      header .top .item:first-of-type {
        letter-spacing: 1px; }
        header .top .item:first-of-type i {
          font-size: 15px; }
        header .top .item:first-of-type:hover i {
          color: #ffffff; }
      header .top .item:nth-child(2) {
        margin-left: 40px; }
    header .top .pull-right {
      margin: 9px 60px 0 0; }
  header .bottom {
    width: 100%;
    text-align: center; }
    header .bottom ul {
      width: 100%; }
      header .bottom ul li, header .bottom ul a {
        font-family: "OnePlusOne2015-Regular",sans-serif;
        line-height: 42px;
        height: 40px;
        position: relative;
        text-transform: uppercase;
        text-align: center;
        color: #727272;
        font-size: 14px;
        margin: 0;
        display: block;
        background: #ffffff;
        width: 25%;
        float: left;
        -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.15);
        cursor: default; }
        header .bottom ul li a, header .bottom ul a a {
          cursor: pointer;
          width: 100%;
          height: 100%; }
        header .bottom ul li i, header .bottom ul a i {
          margin-left: 7px; }
        header .bottom ul li:hover, header .bottom ul a:hover {
          background: #ff0030;
          color: #ffffff; }
          header .bottom ul li:hover .sub-menu, header .bottom ul a:hover .sub-menu {
            display: block; }
      header .bottom ul li:first-of-type {
        background: #f03;
        color: #ffffff; }
    header .bottom .sub-menu {
      display: none;
      margin-top: -3px; }
      header .bottom .sub-menu li {
        width: 100%;
        cursor: pointer; }
